{:paths ["src/clj" "target/classes" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        insn/insn {:mvn/version "0.5.4"}}

 :deps/prep-lib {:alias :build
                 :fn build/compile-java
                 :ensure "target/classes"}

 :aliases
 {:dev {:extra-paths ["."]
        :extra-deps {io.github.clojure/tools.build {:git/tag "v0.3.0" :git/sha "e418fc9"}
                     nodisassemble/nodisassemble {:mvn/version "0.1.3"}}
        ;; NOTE(Joshua): If you want to use nodisassemble you should also add a
        ;; -javaagent for the resolved location
        :jvm-opts ["--enable-native-access=ALL-UNNAMED"]}
  :test {:extra-paths ["test/clj"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      io.github.cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner"
                       :sha "62ef1de18e076903374306060ac0e8a752e57c86"}}
         :jvm-opts ["--enable-native-access=ALL-UNNAMED"]
         :exec-fn cognitect.test-runner.api/test}

  :codox {:extra-deps {codox/codox {:mvn/version "0.10.8"}
                       insn/insn {:mvn/version "0.2.1"}}
          :exec-fn codox.main/generate-docs
          :exec-args {:name "coffi"
                      :version "v1.0.450"
                      :description "A Foreign Function Interface in Clojure for JDK 22+."
                      :source-paths  ["src/clj"]
                      :output-path "docs"
                      :source-uri "https://github.com/IGJoshua/coffi/blob/{git-commit}/{filepath}#L{line}"
                      :metadata {:doc/format :markdown}}}

  :build {:replace-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                         io.github.clojure/tools.build {:git/tag "v0.3.0" :git/sha "e418fc9"}}
          :ns-default build
          :exec-fn run-tasks}
  :install {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
            :exec-fn deps-deploy.deps-deploy/deploy
            :exec-args {:installer :local :artifact "target/coffi.jar"
                        :pom-file "target/pom.xml"}}
  :deploy {:replace-deps {slipset/deps-deploy {:mvn/version "0.1.5"}}
           :exec-fn deps-deploy.deps-deploy/deploy
           :exec-args {:installer :remote :artifact "target/coffi.jar"
                       :pom-file "target/pom.xml" :sign-releases? true}}}}
